html, body {
    font-size: 14px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    text-align: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 20px 50px;
}

.container > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer, .footer {
    background-color: transparent;
    position: relative;
    height: 50px;
    border: 0;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
    margin-top: -50px;
    margin-bottom: 0;
}

footer,
footer a,
footer a:hover,
footer a:visited,
.footer,
.footer a,
.footer a:hover,
.footer a:visited {
    color: #666;
}

a,a:hover,a:visited{
    color: #333;
}

a,a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

pre {
    color: #333;
    font-size: unset;
    line-height: 20px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: transparent;
    border: none;
    border-radius: unset;
}

.title {
    font-size: 1.5em;
}

.title.success {
    color: #5cb85c;
}

.title.error {
    color: #d9534f;
}

.info {
    font-size: 1em;
}

.exception {
    text-align: left;
    font-size: 0.8em;
}

.exception > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.exception label {
    font-weight: bold;
    padding-right: 6px;
}

.actions {
    font-size: 1em;
    max-width: 952px;
    margin-left: auto;
    margin-right: auto;
}

.actions > span {
    display: inline-block;
    padding: 0 6px 0 6px;
}
