.post-attach {
    height:20px;
    line-height:20px;
}

.post-attach a,a:visited{
    text-decoration: none;
}

.post-attach a:hover{
    text-decoration: underline;
}

.post-attach-btn-download {
    display:inline-block;
    width: 200px;
}

.post-attach-btn-upload {
}

.post-attach-btn-upload a{
    color: #48D4AE;
}

.post-attach-btn-del {
    display:inline-block;
}

.post-attach-btn-del a{
    color: #D8504D;
}